.BP{
    background-color: rgb(230, 66, 66);
}
.BP h2{
    font-weight: bolder;
    text-align: center;
    font-family:Brush Script MT, Brush Script Std, cursive;
    border-bottom: 2px solid black;
}
.BPUpperdiv p{
    font-weight: bolder;
    /* text-align: center; */
    padding-left: 15%;
    font-size: 40px;
    font-family:Brush Script MT, Brush Script Std, cursive;
}
.BPUpperdiv img{
    height: 40%;
    width: 80%;
    border-radius: 100px 100px 100px 100px;

}