.steps{
    /* background-image: url(../images/BackgroundImg2.png); */
    background-size: cover;
    padding: 2rem;
}

.steps .heading{
    
    letter-spacing: normal;
    line-height: 3rem;
    text-shadow: 2px 2px #025224;
    color: #025224;
}

.steps .divisions{
    
    padding: 2rem;
}

.steps .divisions .d1{
    border: 5px solid #025224;
    border-radius: 25px;
    margin: 1rem;
    width: 28%;
    height: 30%;
    text-align: center;
}

.steps .divisions .d1:hover{
   box-shadow: 5px 5px 5px 5px #025224;
   text-shadow: 2px 2px 5px black;
   width: 35%;
   height: 35%;
}
